.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 23px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  position: static;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-left: 35px;
  text-decoration: none;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  background: linear-gradient(45deg, #f10, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#menu-icon {
  font-size: 35px;
  color: white;
  z-index: 100;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}